# both files contain sensitive information (bot tokens, private channel messages, etc). don't want that stuff getting leaked :O
/src/config.py

# other exclusions
/src/__pycache__
/src/helpers/__pycache__